@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap");
* { word-break: break-word; }

html { scroll-behavior: smooth; font-family: 'Maven Pro', sans-serif, '돋움', Dotum; color: #333333; }

.header { width: 100%; background-color: rgba(0, 0, 0, 0.6); }

.header-inner { position: relative; max-width: 1140px; margin: 0 auto; padding: 10px 16px; box-sizing: border-box; }

.header-inner:before, .header-inner:after { content: ""; display: table; }

.header-inner:after { clear: both; }

.header.is-fixed { position: fixed; top: 0; left: 0; z-index: 100; }

@media screen and (min-width: 1140px) { .header-inner { padding: 10px 0; } }

.logo-wrap { float: left; }

.logo-wrap .logo a { display: block; font-weight: 700; line-height: 2; color: #fff; }

.navigation-wrap { float: right; }

.navigation-wrap ul { display: flex; }

.navigation-wrap ul li a { position: relative; display: block; padding: 0 5px; font-weight: 700; line-height: 2; color: #fff; transition: all .3s ease-out; }

.navigation-wrap ul li a::before { position: absolute; content: ''; width: 100%; height: 100%; top: 0; left: 0; z-index: -1; background-color: #fff; -webkit-transform: scale(1, 0); -moz-transform: scale(1, 0); -ms-transform: scale(1, 0); transform: scale(1, 0); -webkit-transform-origin: center bottom; -moz-transform-origin: center bottom; -ms-transform-origin: center bottom; transform-origin: center bottom; transition: all .3s ease-out; }

.navigation-wrap ul li a:hover { color: black; }

.navigation-wrap ul li a:hover::before { -webkit-transform: scale(1, 1); -moz-transform: scale(1, 1); -ms-transform: scale(1, 1); transform: scale(1, 1); }

.navigation-wrap ul li ~ li { margin-left: 16px; }

.section { box-sizing: border-box; }

.section-inner { max-width: 1140px; margin: 0 auto; padding-top: 50px; padding-bottom: 50px; }

.section-title-wrap { padding: 0 32px 26px; box-sizing: border-box; }

.section-title-wrap .section-title { font-size: 48px; font-weight: 700; }

@media screen and (min-width: 768px) { .section-title-wrap { padding: 30px 32px; } }

@media screen and (min-width: 1140px) { .section-title-wrap { padding: 30px 16px; }
  .section-title-wrap .section-title { font-size: 52px; } }

.section-main { height: 100vh; background-color: black; }

.section-main .section-inner { display: flex; height: 100%; flex-direction: column; justify-content: center; padding: 0 30px; color: white; box-sizing: border-box; }

.section-main .section-inner .main-title { font-size: 42px; font-weight: 700; }

.section-main .section-inner .main-title .main-text { display: block; cursor: default; transition: all 0.4s cubic-bezier(0.2, 0.6, 0.2, 1); }

.section-main .section-inner .main-title .main-text ~ .main-text { margin-top: 10px; }

.section-main .section-inner .main-title .main-text::before { display: none; }

.section-main .section-inner .main-title .main-text:hover { margin-left: 40px; transition: all .4s; transition: all 0.4s cubic-bezier(0.2, 0.6, 0.2, 1); }

.section-main .section-inner .main-title .main-text:hover span { display: none; }

.section-main .section-inner .main-title .main-text:hover::before { display: block; }

.section-main .section-inner .main-title .main-text:nth-child(1)::before { content: '🤗✨'; }

.section-main .section-inner .main-title .main-text:nth-child(2) { color: #e91b1f; }

.section-main .section-inner .main-title .main-text:nth-child(2)::before { content: 'Web'; }

.section-main .section-inner .main-title .main-text:nth-child(3) { color: #e91b1f; }

.section-main .section-inner .main-title .main-text:nth-child(3)::before { content: 'Publisher'; }

@media screen and (min-width: 768px) { .section-main .section-inner .main-title { font-size: 100px; }
  .section-main .section-inner .main-title .main-text { margin: 0; } }

.intro-wrapper { display: flex; flex-direction: column; align-items: center; }

@media screen and (min-width: 768px) { .intro-wrapper { flex-direction: row; } }

.intro-img-wrap { position: relative; width: 225px; height: 300px; }

@media screen and (min-width: 768px) { .intro-img-wrap { margin: 0 30px; } }

.intro-img-wrap .intro-img-area { position: relative; width: 225px; height: 300px; flex-shrink: 0; overflow: hidden; }

.intro-img-wrap .intro-img-area img { display: block; max-height: 100%; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.intro-img-wrap::after { display: block; position: absolute; content: ''; top: -10px; left: -10px; width: 100%; height: 100%; z-index: 2; border: 3px solid #e91b1f; box-sizing: border-box; }

.intro-detail-wrap { width: 90vw; margin-top: 30px; box-sizing: border-box; }

@media screen and (min-width: 768px) { .intro-detail-wrap { width: auto; margin: 0 30px; } }

.intro-detail-wrap .intro-area ~ .intro-area { margin-top: 20px; }

.intro-detail-wrap .intro-title { font-weight: 700; font-size: 18px; }

.intro-detail-wrap .intro-title ~ .intro-detail { margin-top: 6px; }

.portfolio-list:before, .portfolio-list:after { content: ""; display: table; }

.portfolio-list:after { clear: both; }

.portfolio-list li ~ li { margin-top: 50px; }

.portfolio-list li .img-wrap { position: relative; width: 100%; height: 0; padding-bottom: 66%; z-index: 1; overflow: hidden; }

.portfolio-list li .img-wrap .img-area { position: absolute; top: 0; left: 0; z-index: 1; width: 100%; height: 100%; }

.portfolio-list li .img-wrap .img-area img { display: block; width: 100%; height: 100%; }

.portfolio-list li .detail-wrap { padding: 16px; box-sizing: border-box; }

.portfolio-list li .detail-wrap dl ~ dl { margin-top: 12px; }

.portfolio-list li .detail-wrap dl dt { font-weight: 700; }

.portfolio-list li .detail-wrap dl dd { margin-top: 5px; }

@media screen and (min-width: 1140px) { .portfolio-list li .detail-wrap { padding: 24px 8px; }
  .portfolio-list li .detail-wrap:before, .portfolio-list li .detail-wrap:after { content: ""; display: table; }
  .portfolio-list li .detail-wrap:after { clear: both; }
  .portfolio-list li .detail-wrap dl { float: left; width: 50%; margin-top: 16px; }
  .portfolio-list li .detail-wrap dl dd { margin-top: 8px; }
  .portfolio-list li .detail-wrap dl:nth-child(-n+2) { margin-top: 0; }
  .portfolio-list li .detail-wrap dl:nth-child(2n-1) { clear: both; } }

@media screen and (min-width: 768px) { .portfolio-list li { float: left; width: 48%; }
  .portfolio-list li:nth-child(2n) { float: right; }
  .portfolio-list li:nth-child(2n-1) { clear: both; }
  .portfolio-list li:nth-child(-n+2) { margin-top: 0; } }

.sns-list { display: table; margin: 0 auto; }

.sns-list li { display: table-cell; }

.sns-list li a { display: block; }

.sns-list li .ico { display: block; width: 42px; height: 42px; }

.sns-list li .ico img { display: block; width: 100%; height: 100%; }

.sns-list li .sns-name { display: block; margin-top: 3px; font-size: 14px; text-align: center; }

.sns-list li ~ li { padding-left: 40px; }

.footer { color: #525258; background-color: #fafafa; }

.footer-inner { max-width: 1140px; margin: 0 auto; padding: 36px 20px; text-align: center; box-sizing: border-box; }

.footer-info ~ .footer-info { margin-top: 10px; }

.scroll-top { position: fixed; left: 0; bottom: 10vh; width: 100%; z-index: 99; opacity: 0; transition: all 0.5s; }

.scroll-top-inner { position: relative; max-width: 1140px; margin: 0 auto; bottom: 0; }

.scroll-top-btn { display: block; position: absolute; top: 0; right: 20px; width: 40px; height: 40px; overflow: hidden; text-indent: -9999px; font-size: 0.01em; color: transparent; overflow: hidden; background-color: transparent; background-image: url("../images/btn-top.png"); background-position: center center; background-repeat: no-repeat; background-size: 30px; border-radius: 50%; transition: background 0.3s ease-out; }

.scroll-top-btn:hover { background-image: url("../images/btn-top-on.png"); }

.scroll-top.is-fixed { opacity: 1; }

.data-list li + li { margin-top: 3px; }

.data-list.hyphen li { position: relative; padding-left: 10px; box-sizing: border-box; }

.data-list.hyphen li::before { display: block; position: absolute; top: 50%; left: 0; content: ''; width: 5px; height: 1px; background-color: #333; }

.scroll-ani { visibility: hidden; }
