* {
    word-break: break-word;
}
html {
    scroll-behavior: smooth;
    font-family: 'Maven Pro', sans-serif, '돋움', Dotum;
    color: #333333;
}
$point-color : #e91b1f;

// header
.header {
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    &-inner {
        position: relative;
        max-width: 1140px;
        margin: 0 auto;
        padding: 10px 16px;
        box-sizing: border-box;
        @include cf;
    }
    &.is-fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }
    @include breakpoint02 {
        &-inner {
            padding: 10px 0;
        }
    }
}
.logo-wrap {
    float: left;
    .logo {
        a {
            display: block;
            font-weight: 700;
            line-height: 2;
            color: #fff;
        }
    }
}
.navigation-wrap {
    float: right;
    ul {
        display: flex;
        li {
            a {
                position: relative;
                display: block;
                padding: 0 5px;
                font-weight: 700;
                line-height: 2;
                color: #fff;
                transition: all .3s ease-out;
                &::before {
                    position: absolute;
                    content: '';
                    @include size(100%);
                    top: 0;
                    left: 0;
                    z-index: -1;
                    background-color: #fff;
                    @include transform(scale(1, 0));
                    @include transform-origin(center bottom);
                    transition: all .3s ease-out;
                }
                &:hover {
                    color: black;
                    &::before {
                        @include transform(scale(1, 1));
                    }
                }
            }
            ~ li {
                margin-left: 16px;
            }
        }
    }
}
// 공통 section
.section {
    box-sizing: border-box;
    &-inner {
        max-width: 1140px;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &-title-wrap {
        padding: 0 32px 26px;
        box-sizing: border-box;
        .section-title {
            font-size: 48px;
            font-weight: 700;
        }
        @include breakpoint01 {
            padding: 30px 32px;
        }
        @include breakpoint02 {
            padding: 30px 16px;
            .section-title {
                font-size: 52px;
            }
        }
    }
}
// main section
.section-main {
    height: 100vh;
    background-color: black;
    .section-inner {
        position: relative;
        @include size(100%);
        overflow: hidden;
        box-sizing: border-box;
        .main-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            @include size(100%);
            padding: 0 30px;
            font-weight: 700;
            font-size: 60px;
            color: white;
            .main-text {
                display: block;
                cursor: default;
                transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
                ~.main-text {
                    margin-top: 10px;
                }
                &::before {
                    display: none;
                }
                &:hover {
                    margin-left: 40px;
                    transition: all .4s;
                    transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
                    span {
                        display: none;
                    }
                    &::before {
                        display: block;
                    }
                }
                &:nth-child(1) {
                    &::before {
                        content: '🤗✨';
                    }
                }
                &:nth-child(2) {
                    color: $point-color;
                    &::before {
                        content: 'Web';
                    }
                }
                &:nth-child(3) {
                    color: $point-color;
                    &::before {
                        content: 'Publisher';
                    }
                }
            }
        }
        @include breakpoint01 {
            .main-title {
                font-size: 100px;
                .main-text {
                    margin: 0;
                }
            }
        }
    }
}
// about 소개
.intro-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    @include breakpoint01 {
        flex-direction: row;
    }
}
.intro-img-wrap {
    position: relative;
    @include size(225px, 300px);
    @include breakpoint01 {
        margin: 0 30px;
    }
    .intro-img-area {
        position: relative;
        @include size(225px, 300px);
        flex-shrink: 0;
        overflow: hidden;
        img {
            display: block;
            max-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
        }
    }
    &::after {
        display: block;
        position: absolute;
        content: '';
        top: -10px;
        left: -10px;
        @include size(100%);
        z-index: 2;
        border: 3px solid $point-color;
        box-sizing: border-box;
    }
}
.intro-detail-wrap {
    width: 90vw;
    margin-top: 30px;
    box-sizing: border-box;
    @include breakpoint01 {
        width: auto;
        margin: 0 30px;
    }
    .intro-area {
        ~.intro-area {
            margin-top: 20px;
        }
    }
    .intro-title {
        font-weight: 700;
        font-size: 18px;
        ~.intro-detail {
            margin-top: 6px;
        }
    }
}
// portfolio
.portfolio-list {
    @include cf;
    li {
        // visibility: hidden;
        ~li {
            margin-top: 50px;
        }
        .img-wrap {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 66%;
            z-index: 1;
            overflow: hidden;
            .img-area {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                @include size(100%);
                img {
                    display: block;
                    @include size(100%);
                }
            }
        }
        .detail-wrap {
            padding: 16px;
            box-sizing: border-box;
            dl {
                ~ dl {
                    margin-top: 12px;
                }
                dt {
                    font-weight: 700;
                }
                dd {
                    margin-top: 5px;
                }
            }
            @include breakpoint02 {
                padding: 24px 8px;
                @include cf;
                dl {
                    float: left;
                    width: 50%;
                    margin-top: 16px;
                    dd {
                        margin-top: 8px;
                    }
                    &:nth-child(-n+2){
                        margin-top: 0;
                    }
                    &:nth-child(2n-1){
                        clear: both;
                    }
                }
            }
        }
        @include breakpoint01 {
            float: left;
            width: 48%;
            &:nth-child(2n) {
                float: right;
            }
            &:nth-child(2n-1) {
                clear: both;
            }
            &:nth-child(-n+2) {
                margin-top: 0;
            }
        }
    }
}
// contact
.sns-list {
    display: table;
    margin: 0 auto;
    li {
        display: table-cell;
        a {
            display: block;
        }
        .ico {
            display: block;
            @include size(42px);
            img {
                display: block;
                @include size(100%);
            }
        }
        .sns-name {
            display: block;
            margin-top: 3px;
            font-size: 14px;
            text-align: center;
        }
        ~ li {
            padding-left: 40px;
        }
    }
}
// footer
.footer {
    color: #525258;
    background-color: #fafafa;
    &-inner {
        max-width: $breakpoint02;
        margin: 0 auto;
        padding: 36px 20px;
        text-align: center;
        box-sizing: border-box;
    }
    &-info {
        ~.footer-info {
            margin-top: 10px;
        }
    }
}
.scroll-top {
    position: fixed;
    left: 0;
    bottom: 10vh;
    width: 100%;
    z-index: 99;
    opacity: 0;
    transition: all 0.5s;
    &-inner {
        position: relative;
        max-width: 1140px;
        margin: 0 auto;
        bottom: 0;
    }
    &-btn {
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
        @include size(40px);
        @include ir;
        overflow: hidden;
        background-color: transparent;
        background-image: url('../images/btn-top.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 30px;
        border-radius: 50%;
        transition: background 0.3s ease-out;
        &:hover {
            background-image: url('../images/btn-top-on.png');
        }
    }
    &.is-fixed {
        opacity: 1;
    }
}
// 공통 data-list
.data-list {
    li {
        +li {
            margin-top: 3px;
        }
    }
    &.hyphen {
        li {
            position: relative;
            padding-left: 10px;
            box-sizing: border-box;
            &::before {
                display: block;
                position: absolute;
                top: 9px;
                left: 0;
                content: '';
                width: 5px;
                height: 1px;
                background-color: #333;
            }
        }
    }
}

.scroll-ani {
    visibility: hidden;
}