@font-face{
    font-family:'Maven Pro';
    src:local('Maven Pro Regular'),
        url('../fonts/MavenPro-Regular.eot'),
        url('../fonts/MavenPro-Regular.woff') format('woff'),
        url('../fonts/MavenPro-Regular.ttf') format('ttf');
    font-weight: 400;
}
@font-face{
    font-family:'Maven Pro';
    src:local('Maven Pro Medium'),
        url('../fonts/MavenPro-Medium.eot'),
        url('../fonts/MavenPro-Medium.woff') format('woff'),
        url('../fonts/MavenPro-Medium.ttf') format('ttf');
    font-weight: 500;
}
@font-face{
    font-family:'Maven Pro';
    src:local('Maven Pro Bold'),
        url('../fonts/MavenPro-Bold.eot'),
        url('../fonts/MavenPro-Bold.woff') format('woff'),
        url('../fonts/MavenPro-Bold.ttf') format('ttf');
    font-weight: 700;
}
